asgiref==3.2.3
Django==3.1.8
django-appconf==1.0.3
django-avatar==5.0.0
django-crispy-forms==1.9.0
django-mathfilters==1.0.0
djangorestframework==3.11.0
Pillow==9.0.1
pkg-resources==0.0.0
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
