$column_items_width: 550px !important;

@keyframes iconButtonBouncy {
  0% {
    transform: translate3d(0,0,0)
  }
  5% {
    transform: scale(0.95,0.9) translate3d(0,2px,0)
  }
  15% {
    transform: scale(1.05,1.08) translate3d(0,-3px,0)
  }
  60% {
    transform: scale(1.08,1.08) translate3d(0,-4px,0)
  }
  90% {
    transform: scale(1.03,1) translate3d(0,1px,0)
  }
  100% {
    transform: translate3d(0,0,0)
  }
}

// For fixing the footer at the bottom
body {
  position: relative;
  min-height: 100vh !important;
}

main {
  padding: 80px 0;
}
  
// The "a" tags that have a circle image inside
.profile_img_link {
  text-decoration: none !important;

  img {
    transition: .2s;
    
    &:hover {
      opacity: .85;
    }
  }
}

#topics_list_cont, #login_form, #register_form {
  width: 100%;
  max-width: $column_items_width;
}

// When the screen is smaller, don't make the topics list fixed
#topics_list_cont > div {
  position: static;
}

// Every direct element in the second column 
#main_cont > * {
  width: 100%;
  max-width: $column_items_width;
  margin: 0 auto 15px;

  // Margin for forms and cards
  > * {
    margin-bottom: 12px;
  }
}

.upvote_btn, .downvote_btn {
  padding: 8px;
  cursor: pointer;
}

#profile_btn_group {
  width: 100%;
}

#footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

// When the screen size is >= medium
@media screen and (min-width: 768px) {
  // Make the topics list in the left fixed
  #topics_list_cont > div {
    position: fixed;
  }
}