$column_items_width: 550px !important;

@keyframes iconButtonBouncy {
  0% {
    transform: translate3d(0,0,0)
  }
  5% {
    transform: scale(0.95,0.9) translate3d(0,2px,0)
  }
  15% {
    transform: scale(1.05,1.08) translate3d(0,-3px,0)
  }
  60% {
    transform: scale(1.08,1.08) translate3d(0,-4px,0)
  }
  90% {
    transform: scale(1.03,1) translate3d(0,1px,0)
  }
  100% {
    transform: translate3d(0,0,0)
  }
}

.upvoted {
  animation: iconButtonBouncy .4s;
}

.upvote_btn g, .downvote_btn g {
  stroke: #666;
  fill: var(--white);
  transition: .2s;
}

.upvote_btn.active_vote g {
  stroke: var(--blue) !important;
  fill: var(--blue) !important;
}

.downvote_btn.active_vote g {
  stroke: var(--red) !important;
  fill: var(--red) !important;
}

.upvote_btn:not(.active_vote), .downvote_btn:not(.active_vote) {
  &:hover {
    g {
      fill: lightgray;
    }
  }
}

// For fixing the footer at the bottom
body {
  min-height: 100vh;
  position: relative;
}

main {
  padding-top: 80px;
  padding-bottom: 110px;
}

#ask_your_question {
  cursor: pointer;
  transition: .3s;

  &:hover {
    color: var(--blue);
  }
}

#ask_form {
  display: none;
}

// The "a" tags that have a circle image inside
.profile_img_link {
  // Remove the underline of the image when you hover over it
  &:hover {
    text-decoration: none;
  }

  img {
    text-decoration: none;
    transition: .2s;
    
    &:hover {
      opacity: .85;
    }
  }
}

pre {
  white-space: pre-wrap; 
  word-break: break-word;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial;
  font-size: 17px;
}

#topics_list_cont {
  margin-bottom: 15px !important;
}

#topics_list_cont, #login_form, #register_form {
  width: 100%;
  max-width: $column_items_width;
}

#topics_list_cont > div {
  // When the screen is smaller, don't make the topics list fixed
  position: static;
}

// Fixes the topics overflow when a row of topics is filled
tags.form-control {
  height: auto !important;
}

tag {
  text-transform: uppercase;
}

// Every direct element in the second column 
#main_cont > * {
  width: 100%;
  max-width: $column_items_width;
  margin: 0 auto 15px;
}

.qa_card {
  margin-bottom: 12px;
  transition: .2s;

  &:hover {
    background: #f3f3f3 !important;
  }
}

.card-title > a {
  color: black !important;
  
  &:hover {
    text-decoration: underline black !important;
  }
}

.upvote_btn, .downvote_btn {
  padding: 8px;
  cursor: pointer;
}

#question_topics {
  border: none !important;
  cursor: default;

  .tagify__tag {
    cursor: pointer;
  }
}

.share_cont {
  a:hover {
    text-decoration: none;
  }
  img {
    user-select: none;
  }
}

#stats_cont {
  font-size: 18px;
}

#profile_btn_group {
  width: 100%;
}

#footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

// When the screen size is >= medium
@media screen and (min-width: 768px) {
  // Make the topics list in the left fixed
  #topics_list_cont > div {
    width: 240px;
    position: fixed;
  }

  #main_cont > * {
    max-width: 100% !important;
  }
}