@-webkit-keyframes iconButtonBouncy {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  5% {
    -webkit-transform: scale(0.95, 0.9) translate3d(0, 2px, 0);
            transform: scale(0.95, 0.9) translate3d(0, 2px, 0);
  }
  15% {
    -webkit-transform: scale(1.05, 1.08) translate3d(0, -3px, 0);
            transform: scale(1.05, 1.08) translate3d(0, -3px, 0);
  }
  60% {
    -webkit-transform: scale(1.08, 1.08) translate3d(0, -4px, 0);
            transform: scale(1.08, 1.08) translate3d(0, -4px, 0);
  }
  90% {
    -webkit-transform: scale(1.03, 1) translate3d(0, 1px, 0);
            transform: scale(1.03, 1) translate3d(0, 1px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes iconButtonBouncy {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  5% {
    -webkit-transform: scale(0.95, 0.9) translate3d(0, 2px, 0);
            transform: scale(0.95, 0.9) translate3d(0, 2px, 0);
  }
  15% {
    -webkit-transform: scale(1.05, 1.08) translate3d(0, -3px, 0);
            transform: scale(1.05, 1.08) translate3d(0, -3px, 0);
  }
  60% {
    -webkit-transform: scale(1.08, 1.08) translate3d(0, -4px, 0);
            transform: scale(1.08, 1.08) translate3d(0, -4px, 0);
  }
  90% {
    -webkit-transform: scale(1.03, 1) translate3d(0, 1px, 0);
            transform: scale(1.03, 1) translate3d(0, 1px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.upvoted {
  -webkit-animation: iconButtonBouncy .4s;
          animation: iconButtonBouncy .4s;
}

.upvote_btn g, .downvote_btn g {
  stroke: #666;
  fill: var(--white);
  -webkit-transition: .2s;
  transition: .2s;
}

.upvote_btn.active_vote g {
  stroke: var(--blue) !important;
  fill: var(--blue) !important;
}

.downvote_btn.active_vote g {
  stroke: var(--red) !important;
  fill: var(--red) !important;
}

.upvote_btn:not(.active_vote):hover g, .downvote_btn:not(.active_vote):hover g {
  fill: lightgray;
}

body {
  min-height: 100vh;
  position: relative;
}

main {
  padding-top: 80px;
  padding-bottom: 110px;
}

.profile_img_link:hover {
  text-decoration: none;
}

.profile_img_link img {
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.profile_img_link img:hover {
  opacity: .85;
}

#topics_list_cont {
  margin-bottom: 15px !important;
}

#topics_list_cont, #login_form, #register_form {
  width: 100%;
  max-width: 550px !important;
}

#topics_list_cont > div {
  position: static;
}

tags.form-control {
  height: auto !important;
}

tag {
  text-transform: uppercase;
}

#main_cont > * {
  width: 100%;
  max-width: 550px !important;
  margin: 0 auto 15px;
}

.question_card {
  margin-bottom: 12px;
}

.card-title > a {
  color: black !important;
}

.card-title > a:hover {
  -webkit-text-decoration: underline black !important;
          text-decoration: underline black !important;
}

.upvote_btn, .downvote_btn {
  padding: 8px;
  cursor: pointer;
}

#question_topics {
  border: none !important;
  cursor: default;
}

#question_topics .tagify__tag {
  cursor: pointer;
}

.share_cont img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#stats_cont {
  font-size: 18px;
}

#profile_btn_group {
  width: 100%;
}

#footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (min-width: 768px) {
  #topics_list_cont > div {
    width: 240px;
    position: fixed;
  }
  #main_cont > * {
    max-width: 100% !important;
  }
}
/*# sourceMappingURL=style.css.map */