{% extends "qa/layout.html" %}
{% load static humanize crispy_forms_tags avatar_tags mathfilters %}

{% block main %}
    <div class="row">
        <div class="col-12 col-sm-6 text-center">
            {% avatar viewed_user 256 class="rounded-circle img-fluid" %}
        </div>

        <div class="col-12 col-sm-6 m-auto" id="stats_cont">
            <div class="row">
                <div class="col-12">
                    <h3>{{ viewed_user.username }}</h3>
                </div>
                <div class="col-9 text-muted">Answers made</div>
                <div class="col-3 text-right">{{ answers.count }}</div>
                <div class="col-9 text-muted">Questions asked</div>
                <div class="col-3 text-right">
                    {% if viewed_user.id == user.id %}
                        {{ questions.count }}
                    {% else %}
                        {{ public_questions.count }}
                    {% endif %}
                </div>
                <div class="col-9 text-muted">Upvotes received</div>
                <div class="col-3 text-right">{{ upvotes_received }}</div>
                <div class="col-9 text-muted">Upvotes given</div>
                <div class="col-3 text-right">{{ upvotes_given }}</div>
            </div>
        </div>
    </div>

    <div>
        <div class="btn-group" id="profile_btn_group">
            <button class="btn btn-secondary" id="my_questions_btn">Questions</button>
            <button class="btn btn-secondary" id="my_answers_btn">Answers</button>
            
            {% if viewed_user.id == user.id %}
                <button class="btn btn-secondary" id="my_settings_btn">Settings</button>
            {% endif %}
        </div>
    </div>

    <div>
        {% comment %} QUESTIONS {% endcomment %}
        <div class="d-none" id="my_questions">
            {% for question in questions %}
                {% comment %} Display the anonymous questions only if you are the logged in user of the visited profile {% endcomment %}
                {% if user != question.author and question.type == 'public' or user == question.author %}
                    <div class="card bg-light qa_card">
                        <div class="card-body">
                            <div class="mb-2">
                                <a class="profile_img_link" href="{% url 'profile' uid=question.author.id %}">
                                    {% avatar question.author 34 class="rounded-circle img-fluid" %}
                                </a>
                                {{ question.author.username }}
                                <span class="text-muted">asked:</span>
                            </div>

                            <h5 class="card-title">
                                <a href="{% url 'question' question_id=question.id %}">{{ question.title }}</a>
                            </h5>

                            <p class="card-text">{{ question.details|truncatewords:50 }}</p>

                            {% comment %} If the question has any answers {% endcomment %}
                            {% if question.answers.all %}
                                <a href="{% url 'question' question_id=question.id %}" class="btn btn-primary">See answers</a>
                            {% else %}
                                <p class="text-muted font-italic">No answers yet.</p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            {% comment %} If the visitor is not the profile owner and the profile owner has no public questions {% endcomment %}
            {% if user != question.author and public_questions.count == 0 %}
                <h1 class="text-center text-muted">No questions.</h1>
            {% endif %}
        </div>

        {% comment %} ANSWERS {% endcomment %}
        <div class="d-none" id="my_answers">
            {% for answer in answers %}
                <div class="card bg-light qa_card" data-id="{{ answer.id }}">
                    <div class="card-body">
                        <div class="mb-2">
                            <a class="profile_img_link" href="{% url 'profile' uid=answer.author.id %}">{% avatar answer.author 34 class="rounded-circle img-fluid" %}</a>
                            {{ answer.author.username }}
                            <span class="text-muted">answered:</span>
                        </div>

                        <p class="card-title">{{ answer.content }}</p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center" data-csrftoken="{{ csrf_token }}">
                                <div class="upvote_btn {% if user in answer.upvoters.all %}active_vote{% endif %}">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke-width="1.5" fill-rule="evenodd" stroke-linejoin="round">
                                            <polygon points="12 4 3 15 9 15 9 20 15 20 15 15 21 15"></polygon>
                                        </g>
                                    </svg>
                                </div>

                                <span class="points">
                                    {{ answer.upvoters.count|sub:answer.downvoters.count|intcomma }}
                                </span>

                                <div class="downvote_btn {% if user in answer.downvoters.all %}active_vote{% endif %}">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke-width="1.5" fill-rule="evenodd" stroke-linejoin="round">
                                            <polygon transform="translate(12.000000, 12.000000) rotate(-180.000000) translate(-12.000000, -12.000000) " points="12 4 3 15 9 15 9 20 15 20 15 15 21 15"></polygon>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            
                            {% if answer.author == user %}
                                <button class="btn btn-link">Edit</button>
                            {% endif %}

                            <div>
                                <a href="#">
                                    <img src="{% static 'images/twitter_icon.svg' %}">
                                </a>
                                <a class="ml-3" href="#">
                                    <img src="{% static 'images/facebook_icon.svg' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <h1 class="text-center text-muted">No answers.</h1>
            {% endfor %}
        </div>

        {% comment %} SETTINGS {% endcomment %}
        {% if viewed_user.id == user.id %}
            <div class="d-none" id="my_settings">
                <div>
                    <a href="{% url 'avatar_change' %}">Change your avatar</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}